[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zichao Zhang (zhangzichao)
[access "refs/for/refs/*"]
	read = group user/Zichao Zhang (zhangzichao)
	push = group user/Zichao Zhang (zhangzichao)
	label-Code-Review = -2..+2 group user/Zichao Zhang (zhangzichao)
	label-Verified = -1..+1 group user/Zichao Zhang (zhangzichao)
	rebase = group user/Zichao Zhang (zhangzichao)
	removeReviewer = group user/Zichao Zhang (zhangzichao)
	submit = group user/Zichao Zhang (zhangzichao)
[access "refs/heads/*"]
	read = group user/Zichao Zhang (zhangzichao)
	create = group user/Zichao Zhang (zhangzichao)
	push = +force group user/Zichao Zhang (zhangzichao)
	pushMerge = group user/Zichao Zhang (zhangzichao)
[access "refs/tags/*"]
	push = group user/Zichao Zhang (zhangzichao)
	push = +force group user/Zichao Zhang (zhangzichao)
